* {
  margin: 0px;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

body {
  background-color: rgb(35, 35, 35);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  display: flex;
  font-size: 50px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

input {
  height: 100px;
  font-size: 2rem;
  padding-left: 10px;
  background-color: black;
  color: white;
  border-radius: 20px 0 0 20px;
  border: solid white;
  border-right: 0;
  outline: none;
}

.add {
  height: 100px;
  font-size: 2rem;
  background-color: green;
  color: white;
  border: solid white;
  border-left: 0;
  border-radius: 0 20px 20px 0;
  padding: 10px;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: white;
  font: 12px verdana, arial, sans-serif;
  font-size: 2rem;
  text-align: center;
}

:-moz-placeholder {
  color: white;
  font: 12px verdana, arial, sans-serif;
}

::-moz-placeholder {
  color: white;
  font: 12px verdana, arial, sans-serif;
}

:-ms-input-placeholder {
  color: white;
  font: 12px verdana, arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column; /* Força os elementos filhos a ficarem em coluna */
  height: 70vh;
  margin: 10px;
  margin-top: 20px;
  background-color: white;
  border: solid;
  border-radius: 20px;
  padding: 10px;
  overflow-y: auto; /* Permite rolagem se as tarefas excederem o espaço */
}
main::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 244, 244);
  border-radius: 20px;
  height: 80px; /* Altura fixa */
  margin: 10px 0;
  cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre a tarefa */
  transition: background-color 0.3s, transform 0.3s; /* Animações de fundo e transformação */
}

.tarefa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 244, 244);
  border-radius: 20px;
  height: 80px; /* Altura fixa */
  width: 100%;
  margin: 10px 0;
}

.tarefa-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3%;
  padding: 10px;
  color: black;
  height: 58.5px;
  font-size: 20px;
  margin-left: 15px;
}

.tarefa-nome {
  display: flex;
  align-items: center;
  flex: 80%;
  padding: 10px;
  color: black;
  height: auto; /* Permite quebra de linha */
  font-size: 20px;
  word-break: break-word; /* Quebra de linha no texto longo */
  overflow-wrap: break-word; /* Adicional para garantir quebra de linha */
  white-space: normal; /* Permite quebra de linha */
}

.tarefa-botao {
  flex: 15%;
}

.delete {
  background-color: red;
  color: white;
  border: 0;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  height: 80px;
  border-radius: 0 20px 20px 0;
  font-size: 15px;
}

.tarefa-clicado {
  background-color: rgb(0, 0, 0);
}

.tarefa-clicado .tarefa-nome {
  text-decoration: line-through;
  color: white;
}

.mdi-circle {
  color: white;
}

.mdi-circle-outline {
  color: black;
}
